# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [22]:
import pandas as pd
import numpy as np

# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0   1  42  37  43
1  60   7   5  35
2  30  49  22  79
3  96  59  36  89
4  31  13  24  44
5  49  44  58  99
DataFrame with new index:
     B   C   D
A
1   42  37  43
60   7   5  35
30  49  22  79
96  59  36  89
31  13  24  44
49  44  58  99

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [2]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("Original DataFrame:")
print(df)

# Access the element at row 'Y' and column 'B'
element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  34  75  59
Y   6  39  33
Z  14  45   3
Element at row 'Y' and column 'B': 39

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [3]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Add a new column that is the product of the first two columns
df['D'] = df['A'] * df['B']
print("DataFrame with new column:")
print(df)

Original DataFrame:
    A   B   C
0  10  82  30
1  82  50  79
2  33  88   5
3  48  32  79
4  41  55  48
DataFrame with new column:
    A   B   C     D
0  10  82  30   820
1  82  50  79  4100
2  33  88   5  2904
3  48  32  79  1536
4  41  55  48  2255

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [4]:
# Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Compute the row-wise and column-wise sum
row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)

print("Row-wise sum:")
print(row_sum)
print("Column-wise sum:")
print(column_sum)

Original DataFrame:
    A   B   C
0  12  77   1
1  68  46  71
2  93   2  40
3  92  28  59
Row-wise sum:
0     90
1    185
2    135
3    179
dtype: int64
Column-wise sum:
A    265
B    153
C    171
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [5]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

# Fill the NaN values with the mean of the respective columns
df.fillna(df.mean(), inplace=True)
print("DataFrame with NaN values filled:")
print(df)

Original DataFrame:
    A   B   C
0  58  56  83
1  81  60  54
2  43  32   6
3  65  56  11
4  29  68  10
DataFrame with NaN values:
      A     B     C
0  58.0   NaN  83.0
1  81.0  60.0  54.0
2  43.0  32.0   NaN
3  65.0  56.0  11.0
4   NaN  68.0  10.0
DataFrame with NaN values filled:
       A     B     C
0  58.00  54.0  83.0
1  81.00  60.0  54.0
2  43.00  32.0  39.5
3  65.00  56.0  11.0
4  61.75  68.0  10.0

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [6]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print("DataFrame with NaN values:")
print(df)

# Drop the rows with any NaN values
df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

Original DataFrame:
    A   B   C   D
0  29   4  84  14
1  45  44  83  13
2  65  10  82  35
3  84  21  89  86
4  25  31  60  93
5  82  71  50  43
DataFrame with NaN values:
      A     B     C   D
0  29.0   4.0  84.0  14
1  45.0  44.0   NaN  13
2  65.0  10.0  82.0  35
3   NaN  21.0  89.0  86
4  25.0  31.0  60.0  93
5  82.0   NaN  50.0  43
DataFrame with NaN values dropped:
      A     B     C   D
0  29.0   4.0  84.0  14
2  65.0  10.0  82.0  35
4  25.0  31.0  60.0  93

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [7]:
# Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category
grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Category  Value
0        B     71
1        A     44
2        B     28
3        B     13
4        A     86
5        A     35
6        A     70
7        C     53
8        A     67
9        A      8
Grouped DataFrame:
          sum       mean
Category
A         310  51.666667
B         112  37.333333
C          53  53.000000

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [8]:
# Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0   Prod3        B     15
1   Prod2        B     45
2   Prod3        C     29
3   Prod1        A     25
4   Prod2        A     42
5   Prod3        A     28
6   Prod2        A     63
7   Prod2        A     69
8   Prod1        C     26
9   Prod3        B     95
Grouped DataFrame:
Category
A    227
B    155
C     55
Name: Sales, dtype: int64

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [9]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      80
1   B      49
2   C      51
3   D      59
DataFrame 2:
  Key  Value2
0   A       8
1   B      92
2   C      54
3   E      42
Merged DataFrame:
  Key  Value1  Value2
0   A      80       8
1   B      49      92
2   C      51      54

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [10]:
# Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  59  91
1  53   7
2  41  74
DataFrame 2:
    C   D
0  29  93
1  58  39
2  89  29
Concatenated DataFrame (rows):
      A     B     C     D
0  59.0  91.0   NaN   NaN
1  53.0   7.0   NaN   NaN
2  41.0  74.0   NaN   NaN
0   NaN   NaN  29.0  93.0
1   NaN   NaN  58.0  39.0
2   NaN   NaN  89.0  29.0
Concatenated DataFrame (columns):
    A   B   C   D
0  59  91  29  93
1  53   7  58  39
2  41  74  89  29

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [11]:
# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01     4
2022-01-02    69
2022-01-03    87
2022-01-04    14
2022-01-05    99
...          ...
2022-12-27    65
2022-12-28    76
2022-12-29    38
2022-12-30     3
2022-12-31    79

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2022-01-31  51.387097
2022-02-28  53.714286
2022-03-31  47.419355
2022-04-30  50.966667
2022-05-31  58.161290
2022-06-30  50.033333
2022-07-31  53.774194
2022-08-31  57.516129
2022-09-30  44.833333
2022-10-31  50.161290
2022-11-30  51.433333
2022-12-31  49.741935

/var/folders/kz/drzzdzz94lx_gv8ps7nxdxg40000gn/T/ipykernel_1553/994453891.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [12]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    46
2021-01-02    93
2021-01-03    67
2021-01-04    51
2021-01-05    45
...          ...
2021-12-27    58
2021-12-28    14
2021-12-29    12
2021-12-30    74
2021-12-31     3

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  61.142857
2021-12-28  53.714286
2021-12-29  44.428571
2021-12-30  51.571429
2021-12-31  42.857143

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [13]:
# Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              16      97      45
         two              82      52      23
B        one              98      32      26
         two               5      35       1
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              16      97      45
two              82      52      23
Slicing at Category 'B' and SubCategory 'two':
Value1     5
Value2    35
Value3     1
Name: (B, two), dtype: int64

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [14]:
# Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of values:")
print(sum_values)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              95      53      62
         two               1      17      25
B        one              52      68      47
         two              53      78      35
C        one              58      67      38
         two              11      98      15
Sum of values:
                      Value1  Value2  Value3
Category SubCategory
A        one              95      53      62
         two               1      17      25
B        one              52      68      47
         two              53      78      35
C        one              58      67      38
         two              11      98      15

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [15]:
# Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2022-01-05        B     82
1  2022-01-06        A      6
2  2022-01-06        B     39
3  2022-01-08        B     97
4  2022-01-02        C     13
5  2022-01-02        A      8
6  2022-01-02        A     62
7  2022-01-05        A     35
8  2022-01-05        C     72
9  2022-01-03        B     52
10 2022-01-09        C     50
11 2022-01-06        C     54
12 2022-01-04        C      8
13 2022-01-10        C     63
14 2022-01-09        C     95
15 2022-01-03        A     27
16 2022-01-08        B     71
17 2022-01-08        B     18
18 2022-01-03        C     79
19 2022-01-01        C     65
Pivot Table:
Category       A      B      C
Date
2022-01-01   NaN    NaN   65.0
2022-01-02  70.0    NaN   13.0
2022-01-03  27.0   52.0   79.0
2022-01-04   NaN    NaN    8.0
2022-01-05  35.0   82.0   72.0
2022-01-06   6.0   39.0   54.0
2022-01-08   NaN  186.0    NaN
2022-01-09   NaN    NaN  145.0
2022-01-10   NaN    NaN   63.0

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [16]:
# Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2020      Q4      317
1   2022      Q1      410
2   2022      Q3      308
3   2020      Q3      513
4   2022      Q4      809
5   2021      Q3       23
6   2021      Q4      254
7   2021      Q4      378
8   2021      Q3      204
9   2021      Q4      261
10  2020      Q2      176
11  2021      Q4      790
Pivot Table:
Quarter     Q1     Q2     Q3      Q4
Year
2020       NaN  176.0  513.0  317.00
2021       NaN    NaN  113.5  420.75
2022     410.0    NaN  308.0  809.00

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [17]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a function that doubles the values of the DataFrame
df_doubled = df.applymap(lambda x: x * 2)
print("Doubled DataFrame:")
print(df_doubled)

Original DataFrame:
    A   B   C
0  79  44   3
1  23  17  44
2  67  30  11
3  46  90  84
4  21  76  92
Doubled DataFrame:
     A    B    C
0  158   88    6
1   46   34   88
2  134   60   22
3   92  180  168
4   42  152  184

/var/folders/kz/drzzdzz94lx_gv8ps7nxdxg40000gn/T/ipykernel_1553/3315638500.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_doubled = df.applymap(lambda x: x * 2)

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [18]:
# Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a lambda function to create a new column that is the sum of the existing columns
df['Sum'] = df.apply(lambda row: row.sum(), axis=1)
print("DataFrame with Sum column:")
print(df)

Original DataFrame:
    A   B   C
0   8  72  42
1  92  12  10
2  53  53  52
3  32  44  91
4  88  72  17
5  49  29  36
DataFrame with Sum column:
    A   B   C  Sum
0   8  72  42  122
1  92  12  10  114
2  53  53  52  158
3  32  44  91  167
4  88  72  17  177
5  49  29  36  114

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [19]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [20]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Extract the first three characters of each string
first_three_chars = text_data.str[:3]
print("First three characters:")
print(first_three_chars)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
First three characters:
0    app
1    ban
2    che
3    dat
4    eld
dtype: object