 # Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [2]:
import pandas as pd
import numpy as np 

df = pd.DataFrame(np.random.randint(1,100,(6,4)),columns = ['A','B','C','D'])
print("Original DataFrame:")
print(df)

df.set_index('A',inplace = True)
print("Data Frame with new index")
print(df)

Original DataFrame:
    A   B   C   D
0  69  64  26  61
1  96  60  43  77
2  37  19  46  19
3  19  75  94  53
4  60  49  55  31
5   5  95  28  42
Data Frame with new index
     B   C   D
A
69  64  26  61
96  60  43  77
37  19  46  19
19  75  94  53
60  49  55  31
5   95  28  42

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [3]:
df = pd.DataFrame(np.random.randint(1,100,(3,3)),columns=['A','B','C'] , index = ['X','Y','Z'])
print("Original DataFrame:")
print(df)
print("Element at Y,B : ",df.at['Y','B'])

Original DataFrame:
    A   B   C
X  85  33  55
Y  74  22  44
Z  96  74  47
Element at Y,B :  22

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [4]:
df = pd.DataFrame(np.random.randint(1,100,(5,3)),columns= ['A','B','C'])
print("Original DataFrame:")
print(df)
df['D'] = df['A'] * df['B']
print("New DataFrame with a new D Column")
print(df)

Original DataFrame:
    A   B   C
0  24  47  91
1  44  58  71
2   6  25  17
3  24  98  98
4  63  85  78
New DataFrame with a new D Column
    A   B   C     D
0  24  47  91  1128
1  44  58  71  2552
2   6  25  17   150
3  24  98  98  2352
4  63  85  78  5355

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [5]:
df = pd.DataFrame(np.random.randint(1,16,(4,3)),columns=['A','B','C'],index=['1','2','3','4'])
print(df)
print("Row-Wise sum")
print(df.sum(axis = 1))
print("Col-Wise sum")
print(df.sum(axis = 0))

    A  B   C
1   6  8  12
2  12  3  14
3   7  6   9
4  15  7   8
Row-Wise sum
1    26
2    29
3    22
4    30
dtype: int64
Col-Wise sum
A    40
B    24
C    43
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [6]:
df = pd.DataFrame(np.random.randint(1,16,(5,3)),columns=['A','B','C'],index=['1','2','3','4','5'])
print("Original DataFrame:")
print(df)
df.iloc[0,2] = np.nan
df.iloc[1,0] = np.nan
df.iloc[2,1] = np.nan
df.iloc[2,2] = np.nan
df.iloc[4,0] = np.nan
print("DataFrame with nan values:")
print(df)

df.fillna(df.mean(),inplace = True)
print("DataFrame with Filled Values")
print(df)

Original DataFrame:
   A   B   C
1  1   8   7
2  1  15   5
3  3  11   1
4  2   3   5
5  4   7  14
DataFrame with nan values:
     A     B     C
1  1.0   8.0   NaN
2  NaN  15.0   5.0
3  3.0   NaN   NaN
4  2.0   3.0   5.0
5  NaN   7.0  14.0
DataFrame with Filled Values
     A      B     C
1  1.0   8.00   8.0
2  2.0  15.00   5.0
3  3.0   8.25   8.0
4  2.0   3.00   5.0
5  2.0   7.00  14.0

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [7]:
df = pd.DataFrame(np.random.randint(1,50,(6,4)),columns=['A','B','C','D'],index=['1','2','3','4','5','6'])
print("Original DF:\n",df)
df.iloc[0,1] = np.nan
df.iloc[2,3] = np.nan
df.iloc[3,2] = np.nan
df.iloc[1,0] = np.nan
df.iloc[2,1] = np.nan
# df.iloc[5,0] = np.nan
# df.iloc[5,3] = np.nan
print("DataFrame filled with nan values:")
print(df)
df.dropna(inplace=True)
print(df)

Original DF:
     A   B   C   D
1  47   8  16  39
2  31   7   7  25
3   9  33   2  15
4  43  32  13  34
5  26  42  38   9
6  49  20  16  15
DataFrame filled with nan values:
      A     B     C     D
1  47.0   NaN  16.0  39.0
2   NaN   7.0   7.0  25.0
3   9.0   NaN   2.0   NaN
4  43.0  32.0   NaN  34.0
5  26.0  42.0  38.0   9.0
6  49.0  20.0  16.0  15.0
      A     B     C     D
5  26.0  42.0  38.0   9.0
6  49.0  20.0  16.0  15.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [8]:
df = pd.DataFrame({'Category': np.random.choice(['A','B','C'],size = 10),'Value':np.random.randint(1,100,size = 10),},index = [1,2,3,4,5,6,7,8,9,10])
print(df)

grouped_element = df.groupby('Category')['Value'].agg(['sum','mean'])
print(grouped_element)

   Category  Value
1         A     96
2         C     65
3         C     18
4         B     80
5         A     93
6         A     32
7         C     46
8         C     47
9         B     51
10        A     54
          sum   mean
Category
A         275  68.75
B         131  65.50
C         176  44.00

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [9]:
df = pd.DataFrame({'Product':np.random.choice(['Prod1','Prod2','Prod3','Prod4'],size = 10),'Category': np.random.choice(['A','B','C','D'],size = 10),'Sales':np.random.randint(300,500,size = 10)})
print(df)
grouped_element = df.groupby('Category')['Sales'].sum()
print(grouped_element)

  Product Category  Sales
0   Prod3        B    387
1   Prod4        D    435
2   Prod3        C    425
3   Prod1        B    424
4   Prod2        D    311
5   Prod2        D    483
6   Prod3        C    455
7   Prod3        B    441
8   Prod1        D    499
9   Prod4        B    411
Category
B    1663
C     880
D    1728
Name: Sales, dtype: int64

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [10]:
df1 = pd.DataFrame({'Key':['A','B','C','D'],'Values':np.random.randint(1,100,size = 4)})
df2 = pd.DataFrame({'Key':['A','B','C','E'],'Values':np.random.randint(1,100,size = 4)})
print(df1)
print(df2)
df1.merge(df2,on='Key')

  Key  Values
0   A      57
1   B      78
2   C      20
3   D       8
  Key  Values
0   A      75
1   B      19
2   C      33
3   E      59

  Key  Values_x  Values_y
0   A        57        75
1   B        78        19
2   C        20        33

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [11]:
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

concat_df_rows = pd.concat([df1,df2],axis = 0)
print(concat_df_rows)


concat_df_cols = pd.concat([df1,df2],axis = 1)
print(concat_df_cols)

DataFrame 1:
    A   B
0  78  30
1  77   3
2  68  64
DataFrame 2:
    C   D
0  74  47
1  41  93
2  15  97
      A     B     C     D
0  78.0  30.0   NaN   NaN
1  77.0   3.0   NaN   NaN
2  68.0  64.0   NaN   NaN
0   NaN   NaN  74.0  47.0
1   NaN   NaN  41.0  93.0
2   NaN   NaN  15.0  97.0
    A   B   C   D
0  78  30  74  47
1  77   3  41  93
2  68  64  15  97

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [12]:
date_rng = pd.date_range(start = '2021-01-01',end = '2021-12-31',freq = 'D')
df = pd.DataFrame(date_rng,columns=['date'])
df['data'] = np.random.randint(1,100, size = (len(date_rng)))
df.set_index('date',inplace=True)
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample().mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

            data
date
2021-01-01    80
2021-01-02    32
2021-01-03    73
2021-01-04    72
2021-01-05    65
...          ...
2021-12-27     9
2021-12-28    11
2021-12-29    33
2021-12-30    47
2021-12-31    20

[365 rows x 1 columns]

TypeError: NDFrame.resample() missing 1 required positional argument: 'rule'

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [15]:
date_rng = pd.date_range(start='2021-01-01',end='2021-12-31',freq='D')
df = pd.DataFrame(date_rng,columns=['date'])
df['data'] = np.random.randint(1,100,size = len(date_rng))
df.set_index('date',inplace=True)
print('Original DateFrame: ')
print(df)

rolling_mean = df.rolling(window=7).mean()
print("rolling mean DataFrame: ")
print(df)

Original DateFrame:
            data
date
2021-01-01    63
2021-01-02    41
2021-01-03    96
2021-01-04    77
2021-01-05    79
...          ...
2021-12-27    79
2021-12-28    84
2021-12-29    10
2021-12-30    52
2021-12-31     7

[365 rows x 1 columns]
rolling mean DataFrame:
            data
date
2021-01-01    63
2021-01-02    41
2021-01-03    96
2021-01-04    77
2021-01-05    79
...          ...
2021-12-27    79
2021-12-28    84
2021-12-29    10
2021-12-30    52
2021-12-31     7

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [27]:
l1 = [['A','A','B','B'],['1','2','1','2']]
index = pd.MultiIndex.from_arrays(l1, names=('Category','SubCategory'))
df = pd.DataFrame(np.random.randint(1,100,size = (4,3)),index = index,columns=['Value1','Value2','Value3'])
print('MultiIndex DataFrame:')
print(df)

print(df.loc['A'])
print(df.loc['B'])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        1                 4      28      72
         2                99      86      20
B        1                63      75      58
         2                16      19      22
             Value1  Value2  Value3
SubCategory
1                 4      28      72
2                99      86      20
             Value1  Value2  Value3
SubCategory
1                63      75      58
2                16      19      22

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [39]:
array1 = [['A','A','B','B','C','C'],['1','2','1','2','1','2']]
index = pd.MultiIndex.from_arrays(array1,names=('Category','SubCategory'))
df = pd.DataFrame(np.random.randint(1,100,size=(6,3)),index=index ,columns=['Value1','Value2','Value3'])
print('MultiIndex DataFrame: ')
print(df)

group_sum = df.groupby(['Category']).sum()
print(group_sum)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        1                41      49      97
         2                10      15      21
B        1                36      96      39
         2                82      99      86
C        1                89      66      15
         2                16      76      26
          Value1  Value2  Value3
Category
A             51      64     118
B            118     195     125
C            105     142      41

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.