 # Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [1]:
import pandas as pd
import numpy as np 

df = pd.DataFrame(np.random.randint(1,100,(6,4)),columns = ['A','B','C','D'])
print("Original DataFrame:")
print(df)

df.set_index('A',inplace = True)
print("Data Frame with new index")
print(df)

Original DataFrame:
    A   B   C   D
0  10  22  33  53
1  23  12  13  40
2  42  99  58  23
3  94  13  55  79
4  96  50  70  26
5  13  57  62  89
Data Frame with new index
     B   C   D
A
10  22  33  53
23  12  13  40
42  99  58  23
94  13  55  79
96  50  70  26
13  57  62  89

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [2]:
df = pd.DataFrame(np.random.randint(1,100,(3,3)),columns=['A','B','C'] , index = ['X','Y','Z'])
print("Original DataFrame:")
print(df)
print("Element at Y,B : ",df.at['Y','B'])

Original DataFrame:
    A   B   C
X  79   5  26
Y  58  15  36
Z  21  16  96
Element at Y,B :  15

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [3]:
df = pd.DataFrame(np.random.randint(1,100,(5,3)),columns= ['A','B','C'])
print("Original DataFrame:")
print(df)
df['D'] = df['A'] * df['B']
print("New DataFrame with a new D Column")
print(df)

Original DataFrame:
    A   B   C
0  57  41  15
1  78  40  61
2  20  89  54
3  19  69  49
4  67  28  16
New DataFrame with a new D Column
    A   B   C     D
0  57  41  15  2337
1  78  40  61  3120
2  20  89  54  1780
3  19  69  49  1311
4  67  28  16  1876

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [4]:
df = pd.DataFrame(np.random.randint(1,16,(4,3)),columns=['A','B','C'],index=['1','2','3','4'])
print(df)
print("Row-Wise sum")
print(df.sum(axis = 1))
print("Col-Wise sum")
print(df.sum(axis = 0))

    A   B  C
1   8  12  9
2   2   8  8
3  12   7  8
4   1   3  5
Row-Wise sum
1    29
2    18
3    27
4     9
dtype: int64
Col-Wise sum
A    23
B    30
C    30
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [5]:
df = pd.DataFrame(np.random.randint(1,16,(5,3)),columns=['A','B','C'],index=['1','2','3','4','5'])
print("Original DataFrame:")
print(df)
df.iloc[0,2] = np.nan
df.iloc[1,0] = np.nan
df.iloc[2,1] = np.nan
df.iloc[2,2] = np.nan
df.iloc[4,0] = np.nan
print("DataFrame with nan values:")
print(df)

df.fillna(df.mean(),inplace = True)
print("DataFrame with Filled Values")
print(df)

Original DataFrame:
    A   B   C
1  10  12   9
2  10   1  15
3   1   5   7
4   7   7   5
5   5  12   2
DataFrame with nan values:
      A     B     C
1  10.0  12.0   NaN
2   NaN   1.0  15.0
3   1.0   NaN   NaN
4   7.0   7.0   5.0
5   NaN  12.0   2.0
DataFrame with Filled Values
      A     B          C
1  10.0  12.0   7.333333
2   6.0   1.0  15.000000
3   1.0   8.0   7.333333
4   7.0   7.0   5.000000
5   6.0  12.0   2.000000

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [6]:
df = pd.DataFrame(np.random.randint(1,50,(6,4)),columns=['A','B','C','D'],index=['1','2','3','4','5','6'])
print("Original DF:\n",df)
df.iloc[0,1] = np.nan
df.iloc[2,3] = np.nan
df.iloc[3,2] = np.nan
df.iloc[1,0] = np.nan
df.iloc[2,1] = np.nan
# df.iloc[5,0] = np.nan
# df.iloc[5,3] = np.nan
print("DataFrame filled with nan values:")
print(df)
df.dropna(inplace=True)
print(df)

Original DF:
     A   B   C   D
1  39  25  17  38
2  21  12  25  29
3   4   3  24  23
4  37  19  33  23
5  19   2  14  32
6   9  49   7  42
DataFrame filled with nan values:
      A     B     C     D
1  39.0   NaN  17.0  38.0
2   NaN  12.0  25.0  29.0
3   4.0   NaN  24.0   NaN
4  37.0  19.0   NaN  23.0
5  19.0   2.0  14.0  32.0
6   9.0  49.0   7.0  42.0
      A     B     C     D
5  19.0   2.0  14.0  32.0
6   9.0  49.0   7.0  42.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [7]:
df = pd.DataFrame({'Category': np.random.choice(['A','B','C'],size = 10),'Value':np.random.randint(1,100,size = 10),},index = [1,2,3,4,5,6,7,8,9,10])
print(df)

grouped_element = df.groupby('Category')['Value'].agg(['sum','mean'])
print(grouped_element)

   Category  Value
1         C     67
2         B     29
3         B     47
4         B     41
5         B     28
6         C     83
7         A     12
8         C     81
9         C     27
10        B     34
          sum  mean
Category
A          12  12.0
B         179  35.8
C         258  64.5

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [8]:
df = pd.DataFrame({'Product':np.random.choice(['Prod1','Prod2','Prod3','Prod4'],size = 10),'Category': np.random.choice(['A','B','C','D'],size = 10),'Sales':np.random.randint(300,500,size = 10)})
print(df)
grouped_element = df.groupby('Category')['Sales'].sum()
print(grouped_element)

  Product Category  Sales
0   Prod4        B    387
1   Prod3        D    305
2   Prod2        B    309
3   Prod2        C    340
4   Prod3        A    317
5   Prod3        B    443
6   Prod4        C    441
7   Prod4        B    497
8   Prod4        C    469
9   Prod3        D    363
Category
A     317
B    1636
C    1250
D     668
Name: Sales, dtype: int64

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [9]:
df1 = pd.DataFrame({'Key':['A','B','C','D'],'Values':np.random.randint(1,100,size = 4)})
df2 = pd.DataFrame({'Key':['A','B','C','E'],'Values':np.random.randint(1,100,size = 4)})
print(df1)
print(df2)
df1.merge(df2,on='Key')

  Key  Values
0   A       7
1   B      38
2   C      89
3   D      49
  Key  Values
0   A      56
1   B      40
2   C      96
3   E      14

  Key  Values_x  Values_y
0   A         7        56
1   B        38        40
2   C        89        96

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [10]:
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

concat_df_rows = pd.concat([df1,df2],axis = 0)
print(concat_df_rows)


concat_df_cols = pd.concat([df1,df2],axis = 1)
print(concat_df_cols)

DataFrame 1:
    A   B
0  50  58
1  40  86
2  21  68
DataFrame 2:
    C   D
0  54   1
1  98  89
2  95  28
      A     B     C     D
0  50.0  58.0   NaN   NaN
1  40.0  86.0   NaN   NaN
2  21.0  68.0   NaN   NaN
0   NaN   NaN  54.0   1.0
1   NaN   NaN  98.0  89.0
2   NaN   NaN  95.0  28.0
    A   B   C   D
0  50  58  54   1
1  40  86  98  89
2  21  68  95  28

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [30]:
date_rng = pd.date_range(start = '2021-01-01',end = '2021-12-31',freq = 'D')
df = pd.DataFrame(date_rng,columns=['date'])
df['data'] = np.random.randint(1,100, size = (len(date_rng)))
df.set_index('date',inplace=True)
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

            data
date
2021-01-01    35
2021-01-02    44
2021-01-03    36
2021-01-04    90
2021-01-05    85
...          ...
2021-12-27    37
2021-12-28    97
2021-12-29    73
2021-12-30    97
2021-12-31    95

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2021-01-31  50.741935
2021-02-28  59.214286
2021-03-31  49.290323
2021-04-30  39.100000
2021-05-31  49.419355
2021-06-30  41.833333
2021-07-31  54.967742
2021-08-31  48.516129
2021-09-30  52.033333
2021-10-31  47.096774
2021-11-30  56.266667
2021-12-31  46.870968

/var/folders/kz/drzzdzz94lx_gv8ps7nxdxg40000gn/T/ipykernel_1368/2172171323.py:8: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [ ]:
date_rng = pd.date_range(start='2021-01-01',end='2021-12-31',freq='D')
df = pd.DataFrame(date_rng,columns=['date'])
df['data'] = np.random.randint(1,100,size = len(date_rng))
df.set_index('date',inplace=True)
print('Original DateFrame: ')
print(df)

rolling_mean = df.rolling(window=7).mean()
print("rolling mean DataFrame: ")
print(df)

Original DateFrame:
            data
date
2021-01-01    63
2021-01-02    41
2021-01-03    96
2021-01-04    77
2021-01-05    79
...          ...
2021-12-27    79
2021-12-28    84
2021-12-29    10
2021-12-30    52
2021-12-31     7

[365 rows x 1 columns]
rolling mean DataFrame:
            data
date
2021-01-01    63
2021-01-02    41
2021-01-03    96
2021-01-04    77
2021-01-05    79
...          ...
2021-12-27    79
2021-12-28    84
2021-12-29    10
2021-12-30    52
2021-12-31     7

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [ ]:
l1 = [['A','A','B','B'],['1','2','1','2']]
index = pd.MultiIndex.from_arrays(l1, names=('Category','SubCategory'))
df = pd.DataFrame(np.random.randint(1,100,size = (4,3)),index = index,columns=['Value1','Value2','Value3'])
print('MultiIndex DataFrame:')
print(df)

print(df.loc['A'])
print(df.loc['B'])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        1                 4      28      72
         2                99      86      20
B        1                63      75      58
         2                16      19      22
             Value1  Value2  Value3
SubCategory
1                 4      28      72
2                99      86      20
             Value1  Value2  Value3
SubCategory
1                63      75      58
2                16      19      22

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [ ]:
array1 = [['A','A','B','B','C','C'],['1','2','1','2','1','2']]
index = pd.MultiIndex.from_arrays(array1,names=('Category','SubCategory'))
df = pd.DataFrame(np.random.randint(1,100,size=(6,3)),index=index ,columns=['Value1','Value2','Value3'])
print('MultiIndex DataFrame: ')
print(df)

group_sum = df.groupby(['Category']).sum()
print(group_sum)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        1                41      49      97
         2                10      15      21
B        1                36      96      39
         2                82      99      86
C        1                89      66      15
         2                16      76      26
          Value1  Value2  Value3
Category
A             51      64     118
B            118     195     125
C            105     142      41

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [18]:
date_rng = pd.date_range(start='2021-01-01',end = '2021-12-31',freq='D')
df = pd.DataFrame({'Date':np.random.choice(date_rng,size = 20),'Category':np.random.choice(['A','B','C'],size=20),'Value':np.random.randint(1,100,size=20)})
print(df)

group_sum = df.pivot_table(values='Value',index='Date',columns='Category',aggfunc='sum')
print(group_sum)

         Date Category  Value
0  2021-04-06        C     20
1  2021-01-14        B     29
2  2021-02-19        C     26
3  2021-06-09        C     62
4  2021-09-23        A     60
5  2021-07-26        A     96
6  2021-10-10        A     16
7  2021-11-08        A     29
8  2021-09-23        C      7
9  2021-10-31        A     64
10 2021-01-09        A     97
11 2021-09-15        B     94
12 2021-03-18        A     99
13 2021-11-27        B     58
14 2021-02-22        A     92
15 2021-08-11        C     97
16 2021-06-25        B     33
17 2021-05-04        C     96
18 2021-12-21        C     86
19 2021-05-21        C     21
Category       A     B     C
Date
2021-01-09  97.0   NaN   NaN
2021-01-14   NaN  29.0   NaN
2021-02-19   NaN   NaN  26.0
2021-02-22  92.0   NaN   NaN
2021-03-18  99.0   NaN   NaN
2021-04-06   NaN   NaN  20.0
2021-05-04   NaN   NaN  96.0
2021-05-21   NaN   NaN  21.0
2021-06-09   NaN   NaN  62.0
2021-06-25   NaN  33.0   NaN
2021-07-26  96.0   NaN   NaN
2021-08-11   NaN   NaN  97.0
2021-09-15   NaN  94.0   NaN
2021-09-23  60.0   NaN   7.0
2021-10-10  16.0   NaN   NaN
2021-10-31  64.0   NaN   NaN
2021-11-08  29.0   NaN   NaN
2021-11-27   NaN  58.0   NaN
2021-12-21   NaN   NaN  86.0

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [21]:
df = pd.DataFrame({'Year':np.random.choice(['2021','2022','2023','2024','2025'],size = 12),'Quarter':np.random.choice(['Q1','Q2','Q3','Q4'],size=12),'Revenue':np.random.randint(10,100,size=12)})
print(df)
pv_table = df.pivot_table(values = 'Revenue',index='Year',columns='Quarter',aggfunc='mean')
print(pv_table)

    Year Quarter  Revenue
0   2024      Q3       59
1   2022      Q1       21
2   2025      Q1       80
3   2025      Q1       44
4   2023      Q2       13
5   2021      Q2       93
6   2022      Q1       85
7   2021      Q1       26
8   2025      Q3       22
9   2025      Q1       99
10  2022      Q2       60
11  2024      Q4       98
Quarter         Q1    Q2    Q3    Q4
Year
2021     26.000000  93.0   NaN   NaN
2022     53.000000  60.0   NaN   NaN
2023           NaN  13.0   NaN   NaN
2024           NaN   NaN  59.0  98.0
2025     74.333333   NaN  22.0   NaN

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [23]:
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print(df)
df_doubled = df.applymap(lambda x: x*2)
print(df_doubled)

    A   B   C
0  66  85  71
1  33  46  37
2   1  96  84
3  84  17  29
4  76  76  19
     A    B    C
0  132  170  142
1   66   92   74
2    2  192  168
3  168   34   58
4  152  152   38

/var/folders/kz/drzzdzz94lx_gv8ps7nxdxg40000gn/T/ipykernel_1368/3894401606.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_doubled = df.applymap(lambda x: x*2)

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [26]:
df = pd.DataFrame(np.random.randint(1,10,size=(6,3)),columns= ['A','B','C'])
print(df)
df['Sum'] = df.apply(lambda row:row.sum(),axis = 1)
print(df)

   A  B  C
0  2  2  1
1  5  2  9
2  9  5  2
3  5  8  6
4  8  6  3
5  3  1  3
   A  B  C  Sum
0  2  2  1    5
1  5  2  9   16
2  9  5  2   16
3  5  8  6   19
4  8  6  3   17
5  3  1  3    7

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [28]:
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

uppercase_data = text_data.str.upper()
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [29]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

first_three_chars = text_data.str[:3]
print(first_three_chars)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
0    app
1    ban
2    che
3    dat
4    eld
dtype: object