 # Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [2]:
import pandas as pd
import numpy as np 

df = pd.DataFrame(np.random.randint(1,100,(6,4)),columns = ['A','B','C','D'])
print("Original DataFrame:")
print(df)

df.set_index('A',inplace = True)
print("Data Frame with new index")
print(df)

Original DataFrame:
    A   B   C   D
0  23  67  29  23
1  61  83  16   1
2  62  23  65  42
3  72  68  52  22
4  40  24  35  44
5  71  29  26  97
Data Frame with new index
     B   C   D
A
23  67  29  23
61  83  16   1
62  23  65  42
72  68  52  22
40  24  35  44
71  29  26  97

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [3]:
df = pd.DataFrame(np.random.randint(1,100,(3,3)),columns=['A','B','C'] , index = ['X','Y','Z'])
print("Original DataFrame:")
print(df)
print("Element at Y,B : ",df.at['Y','B'])

Original DataFrame:
    A   B   C
X  75  65  53
Y  26  49  59
Z  34  83  95
Element at Y,B :  49

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [4]:
df = pd.DataFrame(np.random.randint(1,100,(5,3)),columns= ['A','B','C'])
print("Original DataFrame:")
print(df)
df['D'] = df['A'] * df['B']
print("New DataFrame with a new D Column")
print(df)

Original DataFrame:
    A   B   C
0  22  97  94
1  33  28  98
2  63  14  76
3  49  94  24
4  49  62  89
New DataFrame with a new D Column
    A   B   C     D
0  22  97  94  2134
1  33  28  98   924
2  63  14  76   882
3  49  94  24  4606
4  49  62  89  3038

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [5]:
df = pd.DataFrame(np.random.randint(1,16,(4,3)),columns=['A','B','C'],index=['1','2','3','4'])
print(df)
print("Row-Wise sum")
print(df.sum(axis = 1))
print("Col-Wise sum")
print(df.sum(axis = 0))

    A   B   C
1  13   9   8
2  12   9  13
3  12  15   2
4   2  12  13
Row-Wise sum
1    30
2    34
3    29
4    27
dtype: int64
Col-Wise sum
A    39
B    45
C    36
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [8]:
df = pd.DataFrame(np.random.randint(1,16,(5,3)),columns=['A','B','C'],index=['1','2','3','4','5'])
print("Original DataFrame:")
print(df)
df.iloc[0,2] = np.nan
df.iloc[1,0] = np.nan
df.iloc[2,1] = np.nan
df.iloc[2,2] = np.nan
df.iloc[4,0] = np.nan
print("DataFrame with nan values:")
print(df)

df.fillna(df.mean(),inplace = True)
print("DataFrame with Filled Values")
print(df)

Original DataFrame:
    A   B   C
1   8   9  13
2   6  14  12
3  12  10  12
4   9  11   1
5  11  15   1
DataFrame with nan values:
      A     B     C
1   8.0   9.0   NaN
2   NaN  14.0  12.0
3  12.0   NaN   NaN
4   9.0  11.0   1.0
5   NaN  15.0   1.0
DataFrame with Filled Values
           A      B          C
1   8.000000   9.00   4.666667
2   9.666667  14.00  12.000000
3  12.000000  12.25   4.666667
4   9.000000  11.00   1.000000
5   9.666667  15.00   1.000000

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [21]:
df = pd.DataFrame(np.random.randint(1,50,(6,4)),columns=['A','B','C','D'],index=['1','2','3','4','5','6'])
print("Original DF:\n",df)
df.iloc[0,1] = np.nan
df.iloc[2,3] = np.nan
df.iloc[3,2] = np.nan
df.iloc[1,0] = np.nan
df.iloc[2,1] = np.nan
# df.iloc[5,0] = np.nan
# df.iloc[5,3] = np.nan
print("DataFrame filled with nan values:")
print(df)
df.dropna(inplace=True)
print(df)

Original DF:
     A   B   C   D
1  25  12  14   8
2  24  36  22  48
3  38  28  10   2
4  33  38  43  45
5  16  41  41  36
6  16  34  37   2
DataFrame filled with nan values:
      A     B     C     D
1  25.0   NaN  14.0   8.0
2   NaN  36.0  22.0  48.0
3  38.0   NaN  10.0   NaN
4  33.0  38.0   NaN  45.0
5  16.0  41.0  41.0  36.0
6  16.0  34.0  37.0   2.0
      A     B     C     D
5  16.0  41.0  41.0  36.0
6  16.0  34.0  37.0   2.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [28]:
df = pd.DataFrame({'Category': np.random.choice(['A','B','C'],size = 10),'Value':np.random.randint(1,100,size = 10),},index = [1,2,3,4,5,6,7,8,9,10])
print(df)

grouped_element = df.groupby('Category')['Value'].agg(['sum','mean'])
print(grouped_element)

   Category  Value
1         B     46
2         C     66
3         B     61
4         C     33
5         B     38
6         A     48
7         B      7
8         A     46
9         B     43
10        C     22
          sum       mean
Category
A          94  47.000000
B         195  39.000000
C         121  40.333333

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [33]:
df = pd.DataFrame({'Product':np.random.choice(['Prod1','Prod2','Prod3','Prod4'],size = 10),'Category': np.random.choice(['A','B','C','D'],size = 10),'Sales':np.random.randint(300,500,size = 10)})
print(df)
grouped_element = df.groupby('Category')['Sales'].sum()
print(grouped_element)

  Product Category  Sales
0   Prod1        A    316
1   Prod2        D    356
2   Prod3        A    330
3   Prod3        B    354
4   Prod4        A    457
5   Prod3        B    364
6   Prod4        A    376
7   Prod4        D    415
8   Prod1        D    301
9   Prod2        C    488
Category
A    1479
B     718
C     488
D    1072
Name: Sales, dtype: int64

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [42]:
df1 = pd.DataFrame({'Key':['A','B','C','D'],'Values':np.random.randint(1,100,size = 4)})
df2 = pd.DataFrame({'Key':['A','B','C','E'],'Values':np.random.randint(1,100,size = 4)})
print(df1)
print(df2)
df1.merge(df2,on='Key')

  Key  Values
0   A      41
1   B      99
2   C      21
3   D      93
  Key  Values
0   A      78
1   B      53
2   C       2
3   E      13

  Key  Values_x  Values_y
0   A        41        78
1   B        99        53
2   C        21         2

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [46]:
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

concat_df_rows = pd.concat([df1,df2],axis = 0)
print(concat_df_rows)


concat_df_cols = pd.concat([df1,df2],axis = 1)
print(concat_df_cols)

DataFrame 1:
    A   B
0  13   9
1  74  26
2  69  24
DataFrame 2:
    C   D
0  77  13
1  15  92
2  82  56
      A     B     C     D
0  13.0   9.0   NaN   NaN
1  74.0  26.0   NaN   NaN
2  69.0  24.0   NaN   NaN
0   NaN   NaN  77.0  13.0
1   NaN   NaN  15.0  92.0
2   NaN   NaN  82.0  56.0
    A   B   C   D
0  13   9  77  13
1  74  26  15  92
2  69  24  82  56