 # Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [2]:
import pandas as pd
import numpy as np 

df = pd.DataFrame(np.random.randint(1,100,(6,4)),columns = ['A','B','C','D'])
print("Original DataFrame:")
print(df)

df.set_index('A',inplace = True)
print("Data Frame with new index")
print(df)

Original DataFrame:
    A   B   C   D
0  44  64  43  54
1   3  25  91  63
2  12  31  14  70
3  74  44  88  81
4   6  50  49  99
5  42  26  28  33
Data Frame with new index
     B   C   D
A
44  64  43  54
3   25  91  63
12  31  14  70
74  44  88  81
6   50  49  99
42  26  28  33

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [3]:
df = pd.DataFrame(np.random.randint(1,100,(3,3)),columns=['A','B','C'] , index = ['X','Y','Z'])
print("Original DataFrame:")
print(df)
print("Element at Y,B : ",df.at['Y','B'])

Original DataFrame:
    A   B   C
X  34  68  87
Y  96  72  61
Z  97  43  57
Element at Y,B :  72

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [4]:
df = pd.DataFrame(np.random.randint(1,100,(5,3)),columns= ['A','B','C'])
print("Original DataFrame:")
print(df)
df['D'] = df['A'] * df['B']
print("New DataFrame with a new D Column")
print(df)

Original DataFrame:
    A   B   C
0  14  66   4
1  87  36  62
2  64  14  33
3  51  58  51
4  69  25  45
New DataFrame with a new D Column
    A   B   C     D
0  14  66   4   924
1  87  36  62  3132
2  64  14  33   896
3  51  58  51  2958
4  69  25  45  1725

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [5]:
df = pd.DataFrame(np.random.randint(1,16,(4,3)),columns=['A','B','C'],index=['1','2','3','4'])
print(df)
print("Row-Wise sum")
print(df.sum(axis = 1))
print("Col-Wise sum")
print(df.sum(axis = 0))

   A   B   C
1  9  10  14
2  7  11   3
3  6   9  12
4  8   7  12
Row-Wise sum
1    33
2    21
3    27
4    27
dtype: int64
Col-Wise sum
A    30
B    37
C    41
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [6]:
df = pd.DataFrame(np.random.randint(1,16,(5,3)),columns=['A','B','C'],index=['1','2','3','4','5'])
print("Original DataFrame:")
print(df)
df.iloc[0,2] = np.nan
df.iloc[1,0] = np.nan
df.iloc[2,1] = np.nan
df.iloc[2,2] = np.nan
df.iloc[4,0] = np.nan
print("DataFrame with nan values:")
print(df)

df.fillna(df.mean(),inplace = True)
print("DataFrame with Filled Values")
print(df)

Original DataFrame:
    A   B   C
1  15  14  12
2   4  13  10
3   9  10   7
4   1  12  12
5  15  10  10
DataFrame with nan values:
      A     B     C
1  15.0  14.0   NaN
2   NaN  13.0  10.0
3   9.0   NaN   NaN
4   1.0  12.0  12.0
5   NaN  10.0  10.0
DataFrame with Filled Values
           A      B          C
1  15.000000  14.00  10.666667
2   8.333333  13.00  10.000000
3   9.000000  12.25  10.666667
4   1.000000  12.00  12.000000
5   8.333333  10.00  10.000000

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [7]:
df = pd.DataFrame(np.random.randint(1,50,(6,4)),columns=['A','B','C','D'],index=['1','2','3','4','5','6'])
print("Original DF:\n",df)
df.iloc[0,1] = np.nan
df.iloc[2,3] = np.nan
df.iloc[3,2] = np.nan
df.iloc[1,0] = np.nan
df.iloc[2,1] = np.nan
# df.iloc[5,0] = np.nan
# df.iloc[5,3] = np.nan
print("DataFrame filled with nan values:")
print(df)
df.dropna(inplace=True)
print(df)

Original DF:
     A   B   C   D
1   5  44  49  48
2   6  12  49  38
3  49   1  20   5
4  36  49  34  25
5  46  40  14   5
6  32  47  42  41
DataFrame filled with nan values:
      A     B     C     D
1   5.0   NaN  49.0  48.0
2   NaN  12.0  49.0  38.0
3  49.0   NaN  20.0   NaN
4  36.0  49.0   NaN  25.0
5  46.0  40.0  14.0   5.0
6  32.0  47.0  42.0  41.0
      A     B     C     D
5  46.0  40.0  14.0   5.0
6  32.0  47.0  42.0  41.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [8]:
df = pd.DataFrame({'Category': np.random.choice(['A','B','C'],size = 10),'Value':np.random.randint(1,100,size = 10),},index = [1,2,3,4,5,6,7,8,9,10])
print(df)

grouped_element = df.groupby('Category')['Value'].agg(['sum','mean'])
print(grouped_element)

   Category  Value
1         B     29
2         C     27
3         A     62
4         A     42
5         B     12
6         A     15
7         B      4
8         C     34
9         B     58
10        B     79
          sum       mean
Category
A         119  39.666667
B         182  36.400000
C          61  30.500000

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [9]:
df = pd.DataFrame({'Product':np.random.choice(['Prod1','Prod2','Prod3','Prod4'],size = 10),'Category': np.random.choice(['A','B','C','D'],size = 10),'Sales':np.random.randint(300,500,size = 10)})
print(df)
grouped_element = df.groupby('Category')['Sales'].sum()
print(grouped_element)

  Product Category  Sales
0   Prod4        B    315
1   Prod2        D    393
2   Prod4        B    493
3   Prod1        C    358
4   Prod4        A    338
5   Prod3        C    423
6   Prod3        B    327
7   Prod2        A    385
8   Prod2        A    373
9   Prod2        D    323
Category
A    1096
B    1135
C     781
D     716
Name: Sales, dtype: int64

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [10]:
df1 = pd.DataFrame({'Key':['A','B','C','D'],'Values':np.random.randint(1,100,size = 4)})
df2 = pd.DataFrame({'Key':['A','B','C','E'],'Values':np.random.randint(1,100,size = 4)})
print(df1)
print(df2)
df1.merge(df2,on='Key')

  Key  Values
0   A      95
1   B       8
2   C      32
3   D      76
  Key  Values
0   A      24
1   B      90
2   C      52
3   E      50

  Key  Values_x  Values_y
0   A        95        24
1   B         8        90
2   C        32        52

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [11]:
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

concat_df_rows = pd.concat([df1,df2],axis = 0)
print(concat_df_rows)


concat_df_cols = pd.concat([df1,df2],axis = 1)
print(concat_df_cols)

DataFrame 1:
    A   B
0  20  58
1  38  27
2  36  70
DataFrame 2:
    C   D
0  30  38
1  90  67
2  72  13
      A     B     C     D
0  20.0  58.0   NaN   NaN
1  38.0  27.0   NaN   NaN
2  36.0  70.0   NaN   NaN
0   NaN   NaN  30.0  38.0
1   NaN   NaN  90.0  67.0
2   NaN   NaN  72.0  13.0
    A   B   C   D
0  20  58  30  38
1  38  27  90  67
2  36  70  72  13

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [21]:
date_rng = pd.date_range(start = '2021-01-01',end = '2021-12-31',freq = 'D')
df = pd.DataFrame(date_rng,columns=['date'])
df['data'] = np.random.randint(1,100, size = (len(date_rng)))
df.set_index('date',inplace=True)
print(df)

rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

            data
date
2021-01-01    75
2021-01-02     3
2021-01-03    59
2021-01-04    66
2021-01-05    85
...          ...
2021-12-27    60
2021-12-28    54
2021-12-29    38
2021-12-30    80
2021-12-31    30

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  39.571429
2021-12-28  42.571429
2021-12-29  38.285714
2021-12-30  46.285714
2021-12-31  49.857143

[365 rows x 1 columns]