 # Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [2]:
import pandas as pd
import numpy as np 

df = pd.DataFrame(np.random.randint(1,100,(6,4)),columns = ['A','B','C','D'])
print("Original DataFrame:")
print(df)

df.set_index('A',inplace = True)
print("Data Frame with new index")
print(df)

Original DataFrame:
    A   B   C   D
0  36  36   9  66
1  68  50  29  51
2  74  32  73  91
3   1  74  88  99
4  15  96  71  55
5  91  24  92  75
Data Frame with new index
     B   C   D
A
36  36   9  66
68  50  29  51
74  32  73  91
1   74  88  99
15  96  71  55
91  24  92  75

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [3]:
df = pd.DataFrame(np.random.randint(1,100,(3,3)),columns=['A','B','C'] , index = ['X','Y','Z'])
print("Original DataFrame:")
print(df)
print("Element at Y,B : ",df.at['Y','B'])

Original DataFrame:
    A   B   C
X  99  87  16
Y  49  49  71
Z  38  60  36
Element at Y,B :  49

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [4]:
df = pd.DataFrame(np.random.randint(1,100,(5,3)),columns= ['A','B','C'])
print("Original DataFrame:")
print(df)
df['D'] = df['A'] * df['B']
print("New DataFrame with a new D Column")
print(df)

Original DataFrame:
    A   B   C
0  89   6  48
1  31   4  68
2  73   1  75
3  60  21  91
4  44  39  99
New DataFrame with a new D Column
    A   B   C     D
0  89   6  48   534
1  31   4  68   124
2  73   1  75    73
3  60  21  91  1260
4  44  39  99  1716

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [5]:
df = pd.DataFrame(np.random.randint(1,16,(4,3)),columns=['A','B','C'],index=['1','2','3','4'])
print(df)
print("Row-Wise sum")
print(df.sum(axis = 1))
print("Col-Wise sum")
print(df.sum(axis = 0))

    A   B  C
1   3   7  8
2  12   2  4
3   2   1  3
4   5  10  9
Row-Wise sum
1    18
2    18
3     6
4    24
dtype: int64
Col-Wise sum
A    22
B    20
C    24
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [6]:
df = pd.DataFrame(np.random.randint(1,16,(5,3)),columns=['A','B','C'],index=['1','2','3','4','5'])
print("Original DataFrame:")
print(df)
df.iloc[0,2] = np.nan
df.iloc[1,0] = np.nan
df.iloc[2,1] = np.nan
df.iloc[2,2] = np.nan
df.iloc[4,0] = np.nan
print("DataFrame with nan values:")
print(df)

df.fillna(df.mean(),inplace = True)
print("DataFrame with Filled Values")
print(df)

Original DataFrame:
    A   B   C
1   2  15  12
2  15   1   5
3   3  11   2
4   7   2   1
5   6  14   7
DataFrame with nan values:
     A     B    C
1  2.0  15.0  NaN
2  NaN   1.0  5.0
3  3.0   NaN  NaN
4  7.0   2.0  1.0
5  NaN  14.0  7.0
DataFrame with Filled Values
     A     B         C
1  2.0  15.0  4.333333
2  4.0   1.0  5.000000
3  3.0   8.0  4.333333
4  7.0   2.0  1.000000
5  4.0  14.0  7.000000

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [7]:
df = pd.DataFrame(np.random.randint(1,50,(6,4)),columns=['A','B','C','D'],index=['1','2','3','4','5','6'])
print("Original DF:\n",df)
df.iloc[0,1] = np.nan
df.iloc[2,3] = np.nan
df.iloc[3,2] = np.nan
df.iloc[1,0] = np.nan
df.iloc[2,1] = np.nan
# df.iloc[5,0] = np.nan
# df.iloc[5,3] = np.nan
print("DataFrame filled with nan values:")
print(df)
df.dropna(inplace=True)
print(df)

Original DF:
     A   B   C   D
1  16  35  39  26
2  13  40   5   5
3  34  37  16  47
4  12   2  15  31
5  18  10  32  35
6  49  39  43  45
DataFrame filled with nan values:
      A     B     C     D
1  16.0   NaN  39.0  26.0
2   NaN  40.0   5.0   5.0
3  34.0   NaN  16.0   NaN
4  12.0   2.0   NaN  31.0
5  18.0  10.0  32.0  35.0
6  49.0  39.0  43.0  45.0
      A     B     C     D
5  18.0  10.0  32.0  35.0
6  49.0  39.0  43.0  45.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [8]:
df = pd.DataFrame({'Category': np.random.choice(['A','B','C'],size = 10),'Value':np.random.randint(1,100,size = 10),},index = [1,2,3,4,5,6,7,8,9,10])
print(df)

grouped_element = df.groupby('Category')['Value'].agg(['sum','mean'])
print(grouped_element)

   Category  Value
1         B     48
2         B     82
3         A     21
4         A     11
5         C     26
6         A     76
7         B     50
8         B     63
9         B     35
10        B     78
          sum       mean
Category
A         108  36.000000
B         356  59.333333
C          26  26.000000

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [9]:
df = pd.DataFrame({'Product':np.random.choice(['Prod1','Prod2','Prod3','Prod4'],size = 10),'Category': np.random.choice(['A','B','C','D'],size = 10),'Sales':np.random.randint(300,500,size = 10)})
print(df)
grouped_element = df.groupby('Category')['Sales'].sum()
print(grouped_element)

  Product Category  Sales
0   Prod2        A    489
1   Prod3        A    453
2   Prod3        D    468
3   Prod4        B    313
4   Prod4        C    483
5   Prod1        B    491
6   Prod4        A    305
7   Prod2        C    420
8   Prod3        C    414
9   Prod4        A    469
Category
A    1716
B     804
C    1317
D     468
Name: Sales, dtype: int64

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [10]:
df1 = pd.DataFrame({'Key':['A','B','C','D'],'Values':np.random.randint(1,100,size = 4)})
df2 = pd.DataFrame({'Key':['A','B','C','E'],'Values':np.random.randint(1,100,size = 4)})
print(df1)
print(df2)
df1.merge(df2,on='Key')

  Key  Values
0   A      37
1   B      93
2   C      73
3   D      92
  Key  Values
0   A      33
1   B      32
2   C      49
3   E      14

  Key  Values_x  Values_y
0   A        37        33
1   B        93        32
2   C        73        49

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [11]:
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

concat_df_rows = pd.concat([df1,df2],axis = 0)
print(concat_df_rows)


concat_df_cols = pd.concat([df1,df2],axis = 1)
print(concat_df_cols)

DataFrame 1:
    A   B
0   7  55
1  89  64
2  77  89
DataFrame 2:
    C   D
0  30  11
1  25   4
2  97  92
      A     B     C     D
0   7.0  55.0   NaN   NaN
1  89.0  64.0   NaN   NaN
2  77.0  89.0   NaN   NaN
0   NaN   NaN  30.0  11.0
1   NaN   NaN  25.0   4.0
2   NaN   NaN  97.0  92.0
    A   B   C   D
0   7  55  30  11
1  89  64  25   4
2  77  89  97  92

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [12]:
date_rng = pd.date_range(start = '2021-01-01',end = '2021-12-31',freq = 'D')
df = pd.DataFrame(date_rng,columns=['date'])
df['data'] = np.random.randint(1,100, size = (len(date_rng)))
df.set_index('date',inplace=True)
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

            data
date
2021-01-01    26
2021-01-02    50
2021-01-03    81
2021-01-04    55
2021-01-05    63
...          ...
2021-12-27    65
2021-12-28    94
2021-12-29    19
2021-12-30    99
2021-12-31    46

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2021-01-31  55.774194
2021-02-28  51.607143
2021-03-31  44.612903
2021-04-30  56.633333
2021-05-31  49.096774
2021-06-30  51.766667
2021-07-31  48.741935
2021-08-31  45.645161
2021-09-30  47.500000
2021-10-31  44.806452
2021-11-30  44.333333
2021-12-31  49.161290

/var/folders/kz/drzzdzz94lx_gv8ps7nxdxg40000gn/T/ipykernel_1267/2172171323.py:8: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()