 # Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [1]:
import pandas as pd
import numpy as np 

df = pd.DataFrame(np.random.randint(1,100,(6,4)),columns = ['A','B','C','D'])
print("Original DataFrame:")
print(df)

df.set_index('A',inplace = True)
print("Data Frame with new index")
print(df)

Original DataFrame:
    A   B   C   D
0  23  18  21  10
1  32  31  11  93
2  75  24   4  64
3  32  16  86  30
4  85  84  37  63
5  28  23  81  26
Data Frame with new index
     B   C   D
A
23  18  21  10
32  31  11  93
75  24   4  64
32  16  86  30
85  84  37  63
28  23  81  26

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [2]:
df = pd.DataFrame(np.random.randint(1,100,(3,3)),columns=['A','B','C'] , index = ['X','Y','Z'])
print("Original DataFrame:")
print(df)
print("Element at Y,B : ",df.at['Y','B'])

Original DataFrame:
    A   B   C
X  21  26  92
Y  94  65  46
Z  32   5  32
Element at Y,B :  65

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [3]:
df = pd.DataFrame(np.random.randint(1,100,(5,3)),columns= ['A','B','C'])
print("Original DataFrame:")
print(df)
df['D'] = df['A'] * df['B']
print("New DataFrame with a new D Column")
print(df)

Original DataFrame:
    A   B   C
0  20  56  73
1  45  67  34
2   9  16  24
3  37  77  90
4  65  52  53
New DataFrame with a new D Column
    A   B   C     D
0  20  56  73  1120
1  45  67  34  3015
2   9  16  24   144
3  37  77  90  2849
4  65  52  53  3380

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [4]:
df = pd.DataFrame(np.random.randint(1,16,(4,3)),columns=['A','B','C'],index=['1','2','3','4'])
print(df)
print("Row-Wise sum")
print(df.sum(axis = 1))
print("Col-Wise sum")
print(df.sum(axis = 0))

    A   B   C
1   8  13   7
2   8  14   4
3   4  15   4
4  12   2  10
Row-Wise sum
1    28
2    26
3    23
4    24
dtype: int64
Col-Wise sum
A    32
B    44
C    25
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [5]:
df = pd.DataFrame(np.random.randint(1,16,(5,3)),columns=['A','B','C'],index=['1','2','3','4','5'])
print("Original DataFrame:")
print(df)
df.iloc[0,2] = np.nan
df.iloc[1,0] = np.nan
df.iloc[2,1] = np.nan
df.iloc[2,2] = np.nan
df.iloc[4,0] = np.nan
print("DataFrame with nan values:")
print(df)

df.fillna(df.mean(),inplace = True)
print("DataFrame with Filled Values")
print(df)

Original DataFrame:
    A   B   C
1   1   2   8
2  15   4   3
3  11   9   1
4   5  11   6
5  10  13  10
DataFrame with nan values:
      A     B     C
1   1.0   2.0   NaN
2   NaN   4.0   3.0
3  11.0   NaN   NaN
4   5.0  11.0   6.0
5   NaN  13.0  10.0
DataFrame with Filled Values
           A     B          C
1   1.000000   2.0   6.333333
2   5.666667   4.0   3.000000
3  11.000000   7.5   6.333333
4   5.000000  11.0   6.000000
5   5.666667  13.0  10.000000

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [6]:
df = pd.DataFrame(np.random.randint(1,50,(6,4)),columns=['A','B','C','D'],index=['1','2','3','4','5','6'])
print("Original DF:\n",df)
df.iloc[0,1] = np.nan
df.iloc[2,3] = np.nan
df.iloc[3,2] = np.nan
df.iloc[1,0] = np.nan
df.iloc[2,1] = np.nan
# df.iloc[5,0] = np.nan
# df.iloc[5,3] = np.nan
print("DataFrame filled with nan values:")
print(df)
df.dropna(inplace=True)
print(df)

Original DF:
     A   B   C   D
1  43  43  30  11
2  32  20  45  24
3  28  38  35  35
4  16  16  12  49
5  13  15  23  23
6  43  10  39  33
DataFrame filled with nan values:
      A     B     C     D
1  43.0   NaN  30.0  11.0
2   NaN  20.0  45.0  24.0
3  28.0   NaN  35.0   NaN
4  16.0  16.0   NaN  49.0
5  13.0  15.0  23.0  23.0
6  43.0  10.0  39.0  33.0
      A     B     C     D
5  13.0  15.0  23.0  23.0
6  43.0  10.0  39.0  33.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [7]:
df = pd.DataFrame({'Category': np.random.choice(['A','B','C'],size = 10),'Value':np.random.randint(1,100,size = 10),},index = [1,2,3,4,5,6,7,8,9,10])
print(df)

grouped_element = df.groupby('Category')['Value'].agg(['sum','mean'])
print(grouped_element)

   Category  Value
1         C     42
2         C     43
3         B     68
4         B     32
5         B      4
6         A     17
7         B     67
8         A      1
9         A     36
10        C     69
          sum       mean
Category
A          54  18.000000
B         171  42.750000
C         154  51.333333

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [8]:
df = pd.DataFrame({'Product':np.random.choice(['Prod1','Prod2','Prod3','Prod4'],size = 10),'Category': np.random.choice(['A','B','C','D'],size = 10),'Sales':np.random.randint(300,500,size = 10)})
print(df)
grouped_element = df.groupby('Category')['Sales'].sum()
print(grouped_element)

  Product Category  Sales
0   Prod3        C    366
1   Prod2        C    406
2   Prod1        D    419
3   Prod1        D    458
4   Prod4        B    302
5   Prod1        A    359
6   Prod1        D    385
7   Prod2        A    312
8   Prod3        C    336
9   Prod2        C    416
Category
A     671
B     302
C    1524
D    1262
Name: Sales, dtype: int64

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [9]:
df1 = pd.DataFrame({'Key':['A','B','C','D'],'Values':np.random.randint(1,100,size = 4)})
df2 = pd.DataFrame({'Key':['A','B','C','E'],'Values':np.random.randint(1,100,size = 4)})
print(df1)
print(df2)
df1.merge(df2,on='Key')

  Key  Values
0   A       1
1   B      31
2   C      66
3   D      30
  Key  Values
0   A       5
1   B      67
2   C      56
3   E      65

  Key  Values_x  Values_y
0   A         1         5
1   B        31        67
2   C        66        56

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [10]:
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

concat_df_rows = pd.concat([df1,df2],axis = 0)
print(concat_df_rows)


concat_df_cols = pd.concat([df1,df2],axis = 1)
print(concat_df_cols)

DataFrame 1:
    A   B
0  99  94
1  40  89
2  94  99
DataFrame 2:
    C   D
0  18  98
1  91  93
2  13  90
      A     B     C     D
0  99.0  94.0   NaN   NaN
1  40.0  89.0   NaN   NaN
2  94.0  99.0   NaN   NaN
0   NaN   NaN  18.0  98.0
1   NaN   NaN  91.0  93.0
2   NaN   NaN  13.0  90.0
    A   B   C   D
0  99  94  18  98
1  40  89  91  93
2  94  99  13  90

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [ ]:
date_rng = pd.date_range()