# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [205]:
import sqlite3
def create_database():
    conn = sqlite3.connect('test.db')
    conn.close()
    print("Database created and successfully connected.")

create_database()

Database created and successfully connected.

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [206]:
def create_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        Create Table if not exists employees(
                   id integer primary key,
                   name text not null,
                   age integer not null,
                   department text not null
                   )
''')
    conn.commit()
    conn.close()
    print("Table Employee created Successfully.")

create_table()

Table Employee created Successfully.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [207]:
def insert_employee():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    data = [
        ('Dev',32,'Data Analyst'),
        ('Krishna',21,'Data Scientist'),
        ('Paul',35,'Machine Learning'),
        ('Rocky',26,'AI'),
        ('Rojer',45,'Finance')
    ]
    cursor.executemany('''
        Insert into employees(name,age,department)
        values(?,?,?)
    ''',data)

    conn.commit()
    conn.close()
    print('Employee inserted successfully.')

insert_employee()

Employee inserted successfully.

In [208]:
def print_all():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('Select * from employees')
    rows = cursor.fetchall()
    conn.close()
    for row in rows:
        print(row)

print_all()

(1, 'Dev', 32, 'Data Analyst')
(2, 'Krishna', 21, 'Data Scientist')
(3, 'Paul', 35, 'Machine Learning')
(4, 'Rocky', 26, 'AI')
(5, 'Rojer', 45, 'Finance')

2. Write a Python function to fetch and display all employees from a specific department.

In [209]:
def fetch_condition():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''Select * from employees where department = 'AI' ''')
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

fetch_condition()

(4, 'Rocky', 26, 'AI')

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [210]:
def update_condition(id,department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''Update employees set department = ? where id = ? ''',(department,id))
    conn.commit()
    conn.close()
    print('Employee department updated Successfully')

update_condition(3,'HR')

Employee department updated Successfully

In [211]:
def print_all():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('Select * from employees')
    rows = cursor.fetchall()
    conn.close()
    for row in rows:
        print(row)

print_all()

(1, 'Dev', 32, 'Data Analyst')
(2, 'Krishna', 21, 'Data Scientist')
(3, 'Paul', 35, 'HR')
(4, 'Rocky', 26, 'AI')
(5, 'Rojer', 45, 'Finance')

2. Update the department of at least 2 employees and display the updated records.

In [212]:
update_condition(2,'AI')
update_condition(5,'AI')
print_all()

Employee department updated Successfully
Employee department updated Successfully
(1, 'Dev', 32, 'Data Analyst')
(2, 'Krishna', 21, 'AI')
(3, 'Paul', 35, 'HR')
(4, 'Rocky', 26, 'AI')
(5, 'Rojer', 45, 'AI')

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [213]:
def delete_condition(id):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''Delete from employees where id = ?''',(id,))
    conn.commit()
    conn.close()
    print("Data Successfully deleted from DB")

delete_condition(4)
delete_condition(5)
print_all()

Data Successfully deleted from DB
Data Successfully deleted from DB
(1, 'Dev', 32, 'Data Analyst')
(2, 'Krishna', 21, 'AI')
(3, 'Paul', 35, 'HR')

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [214]:
def fetch_older_than(age):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('Select * from employees where age > ?',(age,))
    rows = cursor.fetchall()
    conn.close()
    for row in rows:
        print(row)

fetch_older_than(30)

(1, 'Dev', 32, 'Data Analyst')
(3, 'Paul', 35, 'HR')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [215]:
def fetch_start_with(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('Select * from employees where name like ?',(letter + '%',))
    rows = cursor.fetchall()
    conn.close()
    for row in rows:
        print(row)

fetch_start_with('P')

(3, 'Paul', 35, 'HR')

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [216]:
def insert_all(data):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            Insert into employees(id,name,age,department)
                           values(?,?,?,?)
        ''',data)
        conn.commit()
        print("All Data Inserted Successfully")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

data = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    # (6, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]

insert_all(data)

All Data Inserted Successfully

In [217]:
print_all()

(1, 'Dev', 32, 'Data Analyst')
(2, 'Krishna', 21, 'AI')
(3, 'Paul', 35, 'HR')
(6, 'Frank', 40, 'Finance')
(7, 'Grace', 29, 'Engineering')
(8, 'Hannah', 35, 'Marketing')
(9, 'Ivan', 38, 'Sales')

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [219]:
def multiple_update(data):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            Update employees 
                           set age = ?
                           where id = ?
        ''',data)
        conn.commit()
        print("All employees age updated successfully")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()
    
data = [
    (32, 1),
    (26, 2),
    (40, 3),
    # (41, 4),  # Non-existing ID to cause an error
    (23, 8)
]
multiple_update(data)
print_all()

All employees age updated successfully
(1, 'Dev', 32, 'Data Analyst')
(2, 'Krishna', 26, 'AI')
(3, 'Paul', 40, 'HR')
(6, 'Frank', 40, 'Finance')
(7, 'Grace', 29, 'Engineering')
(8, 'Hannah', 23, 'Marketing')
(9, 'Ivan', 38, 'Sales')

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [220]:
def create_departments_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS departments (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL
        )
    ''')
    conn.commit()
    conn.close()
    print("Table 'departments' created successfully.")

# Test the function
create_departments_table()

Table 'departments' created successfully.

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.