In [ ]:
#modular coding:
#we pass data but from script read data
#code functions that returns result/response
#the logic is in function
#script only handles input/output

In [ ]:
#using function add to list to create averge 3rd list
'''
l1=[10,20,30]
l2=[5,15,25]
l3=[(10+5)/2,(20+15)/2,(30+25)/2]
'''
def listadder(l1,l2):
    temp=[]
    for i in range(len(l1)):
        temp.append((l1[i]+l2[i])/2)
    return temp

l1=[10,20,30]
l2=[5,15,25]
l3=listadder(l1,l2)
print("average of 2 is:",l3)

In [ ]:
#find leader in given list:

#leade is on who has all prior smaller
#output:3,7,9,10 shout be in a list produced by
#function called LeaderGenerator()
'''
#output: list--->condition--->number
#process: ith is a leader iff all other from 0 to i-1 are lesser
          loop i for  ith number
            loop j to check from 0 to i-1
                if pass leader then add to leader list
#input: list to check on
'''
def LeaderGenerator(l):
    leader=[]
    for i in range(len(l)):
        flag=True
        for j in range(i):
            if l[j]>l[i]:
                flag=False
        if flag: #flag==True
            leader.append(l[i])
    return(leader)



l=[3,1,7,2,9,10]
leader_list=LeaderGenerator(l)
print("Leaders are:",leader_list)

Leaders are: [3, 7, 9, 10]

In [ ]:
 '''Find Common Elements in Two Lists:
○ Question: Write a function to find common elements between two lists.
○ Logic: Use list comprehensions or a loop to compare elements.
○ Sample Input: [1, 2, 3, 4] and [3, 4, 5, 6]
○ Expected Output: [3, 4]
output: list of common elements in both
process: element to element comparission(in/not in)------use set
         def intersection(l1,l2)
input: 2 lists
'''
def intersection(l1,l2):
    common_list=[]
    for i in l1:
        if i in l2:
            common_list.append(i)
    return common_list
def intersection2(l1,l2):
    return list(set(l1)&set(l2))

l1=[1, 2, 3, 4]
l2=[3, 4, 5, 6]
common=intersection2(l1,l2)
print("common to both:",common)

common to both: [3, 4]

In [ ]:
'''
create code that can convert number to individual digits in words
196
one nine six
output: digit in words:
process:1reverse number and break it in digit
        2 map each digit to word
        3 is print
input:number
123%10#returns last digit
123//10#removes last digit
list("1234")
'''
no=input("Enter a number:")
no_list=list(no)
word_dict={1:"one",2:"two",3:"three",4:"four"}
for digit in no_list:
    print(word_dict[int(digit)],end=" ")

Enter a number:231
two three one

In [ ]:
no=int(input("Enter a number:"))
rno=0
word_dict={1:"one",2:"two",3:"three",4:"four"}
while no>0:
    digit=no%10
    no=no//10
    rno=rno*10+digit
while rno>0:
    digit=rno%10
    print(word_dict[digit],end=" ")
    rno=rno//10

Enter a number:312
three one two

In [ ]:
'''
Remove All Occurrences of an Element in a List:
Question: Write a function to remove all occurrences of a specific
element from a list.
Sample

Expected Output: List: [1, 3, 4]
process:count total time it is there,remove each time
                2--count 3---- call remove 3 times
Input: List: [1, 2, 2, 3, 4, 2] and Element: 2
'''
def remove_from_list(l,key):
    c=l.count(key)
    for i in range(c):
        l.remove(key)

l=[1, 2, 2, 3, 4, 2]
key=4
remove_from_list(l,key)
print("list after removal:",l)

list after removal: [1, 2, 2, 3, 2]

In [ ]:
#list carry binary number in individual element manner
#convert it to dec
'''input:[1,0,1,0]  output:10'''
b=[1,0,1,0]
p=len(b)#digits
d=0
for i in b:
    d=d+i*2**(p-1)
    print(i," * 2 to the power of ",p-1,"decimal:",d)
    p-=1
print(d)

1  * 2 to the power of  3 decimal: 8
0  * 2 to the power of  2 decimal: 8
1  * 2 to the power of  1 decimal: 10
0  * 2 to the power of  0 decimal: 10
10

In [ ]:
yourname,parent,lastname=input("Enter full name:").split()
print(yourname,parent,lastname,sep="\n")

Enter full name:amar mukund panchal
amar
mukund
panchal

In [ ]:
no1,no2,no3=map(int,input("enter 3 numbers:").split())
print(type(no1),type(no2),type(no3))

enter 3 numbers:12 34 56
<class 'int'> <class 'int'> <class 'int'>

In [ ]:
#write a function min_max to return
#2nd minimum and 2nd maximum of all elements
#input is a line of number separated via ,
#7,2,18,1,55,10,1,3,6
#read,put each in list,search second min/max after sort
str="7,2,18,1,55,10,1,3,6"
no_list=sorted(set(list(map(int,str.split(",")))))
print("Max and min",no_list[-2],no_list[1])

Max and min 18 2

In [ ]:
#Write a function to find the first non-repeating element in a list.
'''
start with each element stop first whos count is 1
Sample Input: [1, 2, 3, 2, 1, 4, 5]
output:3
'''
def non_repeating(data):
    for i in data:#read list element by element
        if data.count(i)==1:#if count is 1 return element and stop
            return i
data=[1, 2, 3, 2, 1, 4,3,1,5]
print("First non-repeating in list is:",non_repeating(data))

First non-repeating in list is: 4

In [ ]:
'''
flag=True#set----yes    #signal
loop:
    if condition:
        flag=False#reset-----no
        break

if flag==True: yes
else False: no
'''

In [ ]:
'''Write a program to check if a given string is a pangram
(contains all letters of the alphabet).
○ Logic: Use loops to check if all letters are present.
○ Sample Input: "The quick brown fox jumps over the lazy dog."'''
#flag=set
#loops from a to z
    #check for each alph if not found reset flag and stop
#check flag and comment
line="The quick brown fox jumps over the lazy dog"
line=line.lower()#immutable
flag=True
for i in "abcdefghijklmnopqrstuvwxyz":
    if i not in line:
        flag=False
        break
if flag==True:
    print("Yes it is")
else:
    print("No it is not")

No it is not

In [ ]:
'''Write a program to check if a given string is a pangram
(contains all letters of the alphabet).
○ Logic: Use loops to check if all letters are present.
○ Sample Input: "The quick brown fox jumps over the lazy dog."'''
#flag=set
#loops from a to z
    #check for each alph if not found reset flag and stop
#check flag and comment
line="The quick brown fox jumps over the lazy dog"
line=line.lower()#immutable
flag=True
for i in range(97,123):
    if chr(i) not in line:
        flag=False
        break
if flag==True:
    print("Yes it is")
else:
    print("No it is not")

Yes it is

In [ ]:
'''Write a program to check if a given string is a pangram
(contains all letters of the alphabet).
○ Logic: Use loops to check if all letters are present.
○ Sample Input: "The quick brown fox jumps over the lazy dog."'''
#flag=set
#loops from a to z
    #check for each alph if not found reset flag and stop
#check flag and comment
line="The quick brown fox jumps over the lazy dog"
line=line.lower()
if 26==len(set(line))-1:
    print("Yes it is")
else:
    print("No it is not")

No it is not

In [ ]:
#prime:
no=int(input("Enter a number:"))
flag=True
for i in range(2,no):
    if no%i==0:
        flag=False
        break
if flag:
    print(no,"is prime")
else:
    print(no,"is not prime")

Enter a number:6
6 is not prime

In [ ]:
for no in range(1,51):
    flag=True
    for i in range(2,no):
        if no%i==0:
            flag=False
            break
    if flag:
        print(no,"is prime")

1 is prime
2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime

In [ ]:
#list all leap year 1990 to 2100
for year in range(1990,2101):
    if (year %4==0 and year%100!=0) or year%400==0:
        print(year,"is leap")

1992 is leap
1996 is leap
2000 is leap
2004 is leap
2008 is leap
2012 is leap
2016 is leap
2020 is leap
2024 is leap
2028 is leap
2032 is leap
2036 is leap
2040 is leap
2044 is leap
2048 is leap
2052 is leap
2056 is leap
2060 is leap
2064 is leap
2068 is leap
2072 is leap
2076 is leap
2080 is leap
2084 is leap
2088 is leap
2092 is leap
2096 is leap

In [ ]:
#0 1 1 2 3 5 8 13
#create list consisting fibo series up to n
#n given by user
f0=0
f1=1
n=int(input("n:"))
for i in range(0,n):
    if i<=1:
        print(i,end=",")
    else:
        fn=f0+f1
        print(fn,end=',')
        f0,f1=f1,fn

n:10
0,1,1,2,3,5,8,13,21,34,

In [ ]:
#0 1 1 2 3 5 8 13
#create list consisting fibo series up to n
#n given by user
flist=[0,1]#starts
n=int(input("n:"))
for i in range(2,n):
    flist.append(flist[i-1]+flist[i-2])
print("list is:",flist)

n:10
list is: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#check that given number is part of fibo or not
#input:13 start with 0,1....no!> number to check output:yes
def checker(n):
    f0=0
    f1=1
    for i in range(0,n+1):
        if n==0 or no==1:
            return True
        else:
            fn=f0+f1
            if fn==n:
                return True
            elif fn>n:
                return False
            f0,f1=f1,fn

In [ ]:
checker(7)

False

In [ ]:
'''Compress a String:
○ Question: Write a function to compress a string by replacing
consecutive characters with their counts.
○ Logic: Define a function that uses loops to count consecutive
characters and create the compressed string.
○
'''
#Sample Input: "aaabbbcccc"
#Expected Output: "a3b3c4"
def rle(s):
    sr=""
    i=0
    while i<len(s):
        count=0
        for j in range(i,len(s)):
            print(s[i],s[j])
            if s[i]==s[j]:
                count+=1
            else:
                print(sr,s[i],count)
                #sr=sr+s[i]+str(count)
                i=j
                break#stop j
    return sr

In [ ]:
rle("aaabbbcccc")